

#container
{
    margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 1200px; height:auto;
    background-color:#FFFFFF;
}

#topbar
{
    font-family:Verdana;
    font-style:oblique;
    font-size:10px;
    color:#FFFFFF;
    background: url('pic/pizzacrop.png') no-repeat bottom;
    height:400px;
    width:1200px;
}

#menu ul
{
    margin-left:20px;
}

#menu
{
    clear:both;
    background-color:#009900;
}

#content
{
    border-top:1px solid white;
    color:#000000;
    background-color:#FFFFFF;
    clear:both;
    font-family:"Verdana";
}

/*Menu som är horisontel*/
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:10px;
padding-bottom:0;
}

h1
{
    font-style:Times New Roman;
    font-family:serif;   
}

h2
{
    font-family:serif;
    font-size:12px;
}

#menu li a
{
    font-size:12px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:12px;
    padding-right:12px;
    border-right:1px solid #FFFFFF;
}

#menu ul li a:link,a:visited
{
    font-family:"Verdana";
    color:#000000;
    background-color:#009900;
    text-align:center;
    text-decoration:none;
}
#menu ul li a:hover,a:active
{
    background-color:#FFFFFF;
}

#menu .active
{
    background-color:#FFFFFF;
}

#menu a
{
    font-size:14px;
}


#menu .active a
{
    color:#000000;
    background-color:#FFFFFF;
    text-align:center;
    text-decoration:none;
    border-bottom:1px solid #FFFFFF;
}

div img 
{
    float:left;
    margin-right:5px;
}