#container
{
    margin:auto;
    width: 480px; height:auto;
    background-color: #FFFFFF;
}

#menu
{
    margin-right: auto; margin-top: auto; margin-bottom: auto;
    width: 480px; height:auto;
    text-align:center;
    background-color:#009900;
    Border-top:2px Solid black;
}

#content
{
    margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 480px; height:auto;
    background-color: #66CC00;
    Border-top:2px Solid black;
    Border-bottom:2px Solid black;
}

#topbar
{
    font-family:Verdana;
    font-style:oblique;
    font-size:10px;
    background-color:#009900;
    background: url('pic/pizzacromobile.png') no-repeat bottom;
    height:160px;
    width:480px;
}

/*Här tar vi bort onödig margin från body*/
body
{
    margin:0;
}
/*Här ger jag titlarnna finare detaljer och centrerar dom*/
h1
{
    text-align:center;
    margin:0;
}

h2
{
    text-align:center;
    margin:0;
}

h3
{
    text-align:center;
    margin:0;
}

form h2
{
    margin-top:10px;
}

/*Här tar jag bort onödiga margins till vanlig text*/
p
{
    margin:0;
    margin-left:10px;
    margin-top:5px;
    font-size:20px;
    font-family:Verdana;
}

/*Här är kodbitarna för sidans navigation*/
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    font-family:Verdana;
    font-size:30px;
}

.NavigationElement:link,.NavigationElement:visited
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#009900;
    width:480px;
    text-align:center;
    padding-top:4px;
    padding-bottom:4px;
    text-decoration:none;
    text-transform:uppercase;
}

.NavigationElement:hover
{
    background-color:#006600;
    color:#FFFFFF;
}

.active
{
    display:block;
    font-weight:bold;
    color:#000000;
    background-color:#FFFFFF;
    width:480px;
    text-align:center;
    padding-top:4px;
    padding-bottom:4px;
    text-decoration:none;
    text-transform:uppercase;
    Border-bottom:2px Solid black;
    Border-top:2px Solid black;
}
/*Här slutar det*/
/*Här är class ändringar för öppetiderna så de ser fint ut*/
.oppet
{
    margin-top:5px;
    font-weight:bold;
    font-size:20px;
    padding-top:20px;
    padding-bottom:50px;
}

/*Här lägger vi till detaljer på pizza listan och även på de andra meny listorna*/
.list li
{
    margin-top:10px;
    font-weight:bold;
    font-size:20px;
}

/*Här ger vi lite finare färg på formuläret*/
#first
{
    background-color:#66CC00;
    text-align:center
}

#second
{
    background-color:#66CC00;
    text-align:center;
}

#send
{
    margin-bottom:65px;
    width:100px;
    text-align:center;
}